---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=8&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_Krm6DjWskp24zlUg3wqcI9cv
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16eVIdLBlbbB1VNDSZrK26Zx",
          "livemode": false,
          "created": 1440700835,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16eVIcLBlbbB1VND0Fx8JZrV",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 8,
            "exp_year": 2016,
            "fingerprint": "ZsufJSVkv8EGzykH",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "136.167.211.39"
        }
  recorded_at: Thu, 27 Aug 2015 18:40:35 GMT
recorded_with: VCR 2.9.3
