---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_16gyojLBlbbB1VNDRK5H2Vfo&plan=myflix_monthly&email=foo%40bar.com
    headers:
      Authorization:
      - Bearer sk_test_Krm6DjWskp24zlUg3wqcI9cv
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1441290957,
          "id": "cus_6uoRmYKb3AS5B7",
          "livemode": false,
          "description": null,
          "email": "foo@bar.com",
          "shipping": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6uoRmYKb3AS5B7/subscriptions",
            "data": [
              {
                "id": "sub_6uoR9an8NlBe09",
                "plan": {
                  "interval": "month",
                  "name": "Myflix",
                  "created": 1441152821,
                  "amount": 999,
                  "currency": "usd",
                  "id": "myflix_monthly",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": "myflix"
                },
                "object": "subscription",
                "start": 1441290957,
                "status": "active",
                "customer": "cus_6uoRmYKb3AS5B7",
                "cancel_at_period_end": false,
                "current_period_start": 1441290957,
                "current_period_end": 1443882957,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6uoRmYKb3AS5B7/sources",
            "data": [
              {
                "id": "card_16gyojLBlbbB1VNDdqrfpHeV",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 7,
                "exp_year": 2018,
                "fingerprint": "ZsufJSVkv8EGzykH",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "tokenization_method": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6uoRmYKb3AS5B7"
              }
            ]
          },
          "default_source": "card_16gyojLBlbbB1VNDdqrfpHeV"
        }
  recorded_at: Thu, 03 Sep 2015 14:35:58 GMT
recorded_with: VCR 2.9.3
