!!! 5
%html(lang="en-US")
  %body
    %h3 Reset Your Password
    %hr
    %p Click here to reset your password: #{link_to("Reset Password", reset_password_url(@token))}
    %footer
      &copy 2013 MyFLiX
