!!! 5
%html(lang="en-US")
  %body
    %h3 Your subscription has been cancelled due to non-payment
    %hr
    %p If you wish to resubscribe to Myflix, please check your payment details here: #{link_to "Account Settings", account_details_path }
