---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=8&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_Krm6DjWskp24zlUg3wqcI9cv
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16eTpuLBlbbB1VNDKKSmRFY8",
          "livemode": false,
          "created": 1440695210,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16eTpuLBlbbB1VNDgBfiidF3",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 8,
            "exp_year": 2016,
            "fingerprint": "t7Q7qq7TSkTzWtLu",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "136.167.211.39"
        }
  recorded_at: Thu, 27 Aug 2015 17:06:50 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_16eTpuLBlbbB1VNDKKSmRFY8&description=hey
    headers:
      Authorization:
      - Bearer sk_test_Krm6DjWskp24zlUg3wqcI9cv
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_16eTpuLBlbbB1VNDqxSfvXkU"
          }
        }
  recorded_at: Thu, 27 Aug 2015 17:06:51 GMT
recorded_with: VCR 2.9.3
